$black = #3B3A35
$p1 = #20457C // Blueish
$p2 = #FB6648 // Orange
$p3 = #5E3448 // Purple
$p4 = #ECDFBD 

body
  background-color $black
  color white
  
.p1
  color $p1 !important
.p2
  color $p2 !important
.p3
  color $p3 !important
.p4
  color $p4 !important
  
#add_button
  top -2em
  background-color $p2

.summary
  font-size 16px !important
  
#assume_value
  width: 3em;
  color yellow
  height auto

.breakdown
  text-align center
  table
    border 1px solid white
    width 90%
    margin 0 auto